<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heima.health.mapper.CheckGroupMapper">
    <insert id="add" useGeneratedKeys="true" keyProperty="id" parameterType="com.heima.health.pojo.CheckGroup">
        insert into t_checkgroup values (null,#{code},#{name},#{helpCode},#{sex},#{remark},#{attention})
    </insert>

    <insert id="addRelation">
        insert into t_checkgroup_checkitem values (#{checkgroupId},#{checkitemId})
    </insert>

    <update id="update">
        update t_checkgroup set code=#{code},name=#{name},helpCode=#{helpCode},sex=#{sex},remark=#{remark},attention=#{attention} where id=#{id}
    </update>

    <delete id="delRelation">
        delete from t_checkgroup_checkitem where checkgroup_id=#{id}
    </delete>

    <delete id="delCheckgroup">
        delete from t_checkgroup where id=#{id}
    </delete>

    <select id="findByPage" resultType="com.heima.health.pojo.CheckGroup">
        select id,code, name, helpCode, sex, remark, attention from t_checkgroup
        <where>
            <if test="value != null and value.length > 0">
                code = #{value} or name = #{value}
            </if>
        </where>
    </select>

    <select id="getCheckgroupItem" resultType="com.heima.health.pojo.CheckGroup">
        select id,code, name, helpCode, sex, remark, attention from t_checkgroup where id=#{id}
    </select>

    <select id="getCheckgroupItemCheckId" resultType="java.lang.Integer">
        select checkitem_id from t_checkgroup_checkitem where checkgroup_id=#{id}
    </select>

    <select id="queryRelation" resultType="java.lang.Integer">
        select count(1) from t_setmeal_checkgroup where checkgroup_id=#{id}
    </select>
    <select id="findAll" resultType="com.heima.health.pojo.CheckGroup">
        select id, code, name, helpCode, sex, remark, attention from t_checkgroup
    </select>

    <resultMap id="findCheckGroupListBySetmealIdMap" type="com.heima.health.pojo.CheckGroup">
        <id column="id" property="id"></id>
        <result column="code" property="code"></result>
        <result column="name" property="name"></result>
        <result column="helpCode" property="helpCode"></result>
        <result column="sex" property="sex"></result>
        <result column="remark" property="remark"></result>
        <result column="attention" property="attention"></result>
        <!--映射检查项-->
        <!--一对多关联-->
        <!--
                  fetchType="lazy": 懒加载
                  property： 对应属性名
                  column： 对应列名（已知条件）（一定是sql的结果集中存在的列）
                  ofType: 属性的泛型
                  select： 可以sql语句，方法的唯一标识（全名称=包名+类名 + 方法名）
                          根据检查组id查询 检查项信息
                          List<CheckItem> com.itheima.dao.CheckItemDao.findCheckItemListByCheckGroupId(Integer checkgroupId)

              -->
        <collection property="checkItems" ofType="com.heima.health.pojo.CheckItem" column="id"
                    select="com.heima.health.mapper.CheckitemMapper.findCheckItemListByCheckGroupId"></collection>
    </resultMap>

    <select id="findCheckGroupListByStetmealId" parameterType="int" resultMap="findCheckGroupListBySetmealIdMap">
         select id, code, name, helpCode, sex, remark, attention from t_checkgroup
         where id in (select checkgroup_id from t_setmeal_checkgroup where setmeal_id = #{setmealId})
    </select>
</mapper>